@tailwind base;
@tailwind components;
@tailwind utilities;

.text-transition-enter {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.text-transition-enter-active {
  opacity: 1;
  transform: translateY(0);
}

.text-transition-exit {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.text-transition-exit-active {
  opacity: 0;
  transform: translateY(10px);
}
